build/baudi-0.1*.xar
build/baudi-0.3*.xar
build/baudi-0.5*.xar
build/baudi-0.7*.xar
build/baudi-0.9*.xar
build/raffArchive-0.1*.xar
build/raffArchive-0.3*.xar
build/raffArchive-0.5*.xar
build/raffArchive-0.7*.xar
build/raffArchive-0.9*.xar
*.bak
build/.DS_Store
.DS_Store
*.xar
resources/img
.existdb-json
