# This CITATION.cff file was generated with cffinit.
# Visit https://bit.ly/cffinit to generate yours today!

cff-version: 1.2.0
title: @project.app@
message: "Please cite this software using the metadata from 'preferred-citation'."
type: software
authors:
  - given-names: Dennis
    family-names: Ried
    email: forschung@dennisried.de
    affiliation: Martin Luther University Halle-Wittenberg
    orcid: 'https://orcid.org/0000-0001-5545-2088'
url: 'https://portal.joachim-raff.ch'
preferred-citation:
  authors:
    - family-names: Ried
      given-names: Dennis
  title: "@project.app@ v@project.version@"
  type: software
  year: @release.year@
abstract: >-
  This is the source code of the adaption of the Baumann-Digital (BauDi) portal-app by the Joachim-Raff-Archive.
keywords:
  - resarch software
  - musicology
repository-code: 'https://github.com/Joachim-Raff-Archiv/portal-app'
license: CC-BY-4.0
version: @project.version@
date-released: @release.date@
