<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@project.name@</description>
    <author>Dennis Ried</author>
    <website>https://portal.raff-archiv.ch</website>
    <status>dev</status>
    <license>CC BY 4.0</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>@data.target@</target>
    <prepare>scripts/pre-install.xql</prepare>
<!--    <finish>scripts/post-install.xql</finish>-->
    <permissions user="raff" group="raffArchive" mode="rwxr-xr-x"/>
</meta>
