.navbar-text > a {
	color: inherit; 
	text-decoration: none;
}

.jra {
    background-color: #641a85;
    color:white;
}

body {
    font-family: Merriweather;
    /*font-family: syntaxregular, Fallback, sans-serif;*/
}

.text-black{
    color:black;
}
.RegisterSortBox {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
/*    padding-top: 0.25em;*/
}

.RegisterSortEntry {
    font-size: 1.1em;
    color: #641a85;
    text-align: center;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: #f0f0f0;
    border-bottom: 2px solid #641a85;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.RegisterEntry {
    border-bottom: 1px solid LightGray;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    margin-right: 0.75em;
    margin-left: 0.75em;
}

.RegisterEntry:last-child
{
    border-bottom:none;
}

.myResearchInput {
                                 background-position: 2px 10px;
                                 background-repeat: no-repeat;
                                 width: 100%;
                                 font-size: 16px;
                                 padding: 12px 10px 12px 20px;
                                 border: 1px solid #ddd;
                                 margin-bottom: 12px;
                             }

.btn-jra {
  background-image: -webkit-linear-gradient(top, #651A85 0%, #641A85 100%);
  background-image:      -o-linear-gradient(top, #651A85 0%, #641A85 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#651A85), to(#641A85));
  background-image:         linear-gradient(to bottom, #651A85 0%, #641A85 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff651A85', endColorstr='#ff641A85', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #641A85;
  color:white
}
.btn-jra:hover,
.btn-jra:focus {
  background-color: #f0f0f0;
  border-color:#efefef;
  background-position: 0 -40px;
  color:black;
}
.btn-jra:active,
.btn-jra.active {
  background-color: #f0f0f0;
  border-color: #641A85;
}
.btn-jra.disabled,
.btn-jra[disabled],
fieldset[disabled] .btn-jra,
.btn-jra.disabled:hover,
.btn-jra[disabled]:hover,
fieldset[disabled] .btn-jra:hover,
.btn-jra.disabled:focus,
.btn-jra[disabled]:focus,
fieldset[disabled] .btn-jra:focus,
.btn-jra.disabled.focus,
.btn-jra[disabled].focus,
fieldset[disabled] .btn-jra.focus,
.btn-jra.disabled:active,
.btn-jra[disabled]:active,
fieldset[disabled] .btn-jra:active,
.btn-jra.disabled.active,
.btn-jra[disabled].active,
fieldset[disabled] .btn-jra.active {
  background-color: #641A85;
  background-image: none;
}

.btn-jra:not(:disabled):not(.disabled).active,
.btn-jra:not(:disabled):not(.disabled):active,
.show > .btn-jra.dropdown-toggle{
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}
.btn-jra:not(:disabled):not(.disabled).active:focus,
.btn-jra:not(:disabled):not(.disabled):active:focus,
.show > .btn-jra.dropdown-toggle:focus{
    box-shadow: 0 0 0 .2rem rgba(127, 185, 29, 0.5)
}

navbar-jra .navbar-brand{
    color: #651A85
}
.navbar-jra .navbar-brand:focus,
.navbar-jra .navbar-brand:hover{
    color: #651A85
}
.navbar-jra .navbar-nav .nav-link-jra{
    color: #641a85 /*rgba(127, 185, 29, 0.5)*/
}
.navbar-jra .navbar-nav .nav-link-jra:focus,
.navbar-jra .navbar-nav .nav-link-jra:hover{
    color: #641a85/*rgba(127, 185, 29, .75)*/
}
.navbar-jra .navbar-nav .nav-link-jra.disabled{
    color: #641a85/*rgba(127, 185, 29, .25)*/
}
.navbar-jra .navbar-nav .active > .nav-link-jra,
.navbar-jra .navbar-nav .nav-link-jra.active,
.navbar-jra .navbar-nav .nav-link-jra.show,
.navbar-jra .navbar-nav .show > .nav-link-jra{
    color: #651A85
}
.navbar-jra .navbar-toggler{
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1)
}
.navbar-jra .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.navbar-jra .navbar-text{
    color: rgba(255, 255, 255, .5)
}
.navbar-jra .navbar-text a{
    color: #651A85
}
    
.bg-jra{
    background-color: #641A85 !important
}
a.bg-jra:focus,
a.bg-jra:hover,
button.bg-jra:focus,
button.bg-jra:hover{
    background-color: blue !important
}

.nav-linkless-jra{
    display: block;
    padding: .5rem 1rem;
    /*font-weight: bold;*/
    color:#641a85;
    background-color: rgb(240, 240, 240)
}
.nav-link-jra{
    display: block;
    padding: .5rem 1rem;
    /*font-weight: bold;*/
    color:#641a85;
    background-color: rgb(240, 240, 240)
}
.nav-link-jra:focus,
.nav-link-jra:hover{
    text-decoration: none;
    /*font-weight:bold;*/
    color:white;
    background-color:#641a85
}
.nav-link-jra.disabled{
    color: grey
    }
.nav-tabs .nav-item.show .nav-link-jra,
.nav-tabs .nav-link-jra.active{
    color: white;
    background-color: #641a85;
    /* border-color: #dee2e6 #dee2e6 #fff */
}

.nav-link-jra-top{
    display: block;
    padding: .5rem 1rem;
    /*font-weight: bold;*/
    color: white
}
.nav-link-jra-top:focus,
.nav-link-jra-top:hover{
    text-decoration: none;
    /*font-weight:normal;*/
    color:#641a85;
    background-color:#f0f0f0
}
.nav-link-jra-top.disabled{
    color: black
    }
.nav-tabs .nav-item-jra-top.show .nav-link-jra-top,
.nav-tabs .nav-link-jra-top.active{
    color: white;
    background-color: #641a85;
    /* border-color: #dee2e6 #dee2e6 #fff */
}

.badge-jra{
    color: #641a64;
    background-color: #f0f0f0
}

table.workView{
    width:100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.workView tr:first-of-type td:first-of-type{
    width:30%;
    vertical-align:top;
}

table.personView{
    width:100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.personView tr:first-of-type td:first-of-type{
    width:30%;
    vertical-align:top;
}

table.letterView{
    width:100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.letterView tr:first-of-type td:first-of-type{
    width:20%;
    vertical-align:top;
}

table.institutionView{
    width:100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.institutionView tr:first-of-type td:first-of-type{
    width:20%;
    vertical-align:top;
}

table.letterContentView{
    width:100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.letterContentView tr:first-of-type td:first-of-type{
    width:20%;
    vertical-align:top;
}

table.letterContentRegeste{
    width:100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.letterContentRegeste tr:first-of-type td:first-of-type{
    width:10%;
    vertical-align:top;
}

div.letterContentFullView{
    font-size: 1em;
    color:black;
    text-align: left;
/*    font-weight: bold;*/
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f8f8f8;
    border-top: 1.5px solid #641a85;
    border-bottom: 1.5px solid #641a85;
    border-left: 1.5px solid #641a85;
    border-right: 1.5px solid #641a85;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sublevel {
    color: gray;
    font-size: 0.8em;    
}
