<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <h1>I'm sorry!</h1>
    <div class="row">
        <div class="col-3">
            <br/>
            <img src="https://digilib.baumann-digital.de/JRA/img/JRA-Logo.png?dh=200"/>
        </div>
        <div class="col">
            <div class="source-links">
                <br/>
                <h5>An error has occurred.</h5>
                <br/>
                <p>Please tell us about this error and then go back to <a href="https://portal.raff-archiv.ch/index.html">Mainpage</a><br/></p>
                <div data-template="app:errorReport"/>
                <br/>
            </div>
        </div>
    </div>
    <br/>
    <div><pre class="error templates:error-description"/></div>
</div>