<nav xmlns:i18n="http://exist-db.org/xquery/i18n" data-template="i18n:translate" data-template-lang="en" data-template-catalogues="/db/apps/raffArchive/resources/lang" class="navbar navbar-expand-md fixed-top">
    <!-- navbar-jra bg-jra -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item-jra-top">
                <a class="nav-link-jra-top" href="$index" onclick="pleaseWait()">
                    <i18n:text key="jra.mainNav.home"/>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            
            <li class="dropdown">
                <a href="#" class="nav-link-jra-top dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register<span class="caret"/></a>
                <ul class="dropdown-menu navbar-jra bg-jra">
                    <li>
                        <a class="nav-link-jra-top" onclick="pleaseWait()" href="$baseUrl/registryWorks.html">
                            <i18n:text key="jra.mainNav.works"/>
                        </a>
                    </li>
                    <!--<li>
                                        <a class="nav-link-jra-top" href="$baseUrl/registrySources.html">Quellenverzeichnis</a>
                                    </li>-->
                    <li>
                        <a class="nav-link-jra-top" onclick="pleaseWait()" href="$baseUrl/registryLettersDate.html">
                            <i18n:text key="jra.mainNav.letters"/>
                        </a>
                    </li>
                    <li data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development">
                        <a class="nav-link-jra-top" onclick="pleaseWait()" href="$baseUrl/registryWritings.html">
                            <i18n:text key="jra.mainNav.writings"/>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link-jra-top" onclick="pleaseWait()" href="$baseUrl/registryPersonsInitial.html">
                            <i18n:text key="jra.mainNav.persons"/>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link-jra-top" onclick="pleaseWait()" href="$baseUrl/registryInstitutions.html">
                            <i18n:text key="jra.mainNav.institutions"/>
                        </a>
                    </li>
                    <!--<li>
                    <a class="nav-link-jra-top" href="$baseUrl/registryPlaces.html"><i18n:text key="jra.mainNav.places"/></a>
                </li>-->
                </ul>
            </li>
            <li>
                <a class="nav-link-jra-top" onclick="pleaseWait()" href="$baseUrl/search.html">
                    <i18n:text key="jra.mainNav.search"/>
                </a>
            </li>
            <li>
                <a class="nav-link-jra-top" onclick="pleaseWait()" href="$baseUrl/registryPodcasts.html">
                    <i18n:text key="jra.catalog.podcasts"/>
                </a>
            </li>
            <!--<li>
                                <a class="nav-link-jra-top" href="$baseUrl/libraryCatalogue.html"><i18n:text key="jra.mainNav.library"/></a>
                            </li>-->
            <!--</ul>
                    </li>-->
            <li class="dropdown">
                <a class="nav-link-jra-top dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="">
                    <i18n:text key="jra.mainNav.documentation"/>
                    <span class="caret"/>
                </a>
                <ul class="dropdown-menu navbar-jra bg-jra">
                    <!--<li>
                                <a class="nav-link-jra-top" href="$baseUrl/aboutProject.html">Raff-Archiv-Online</a>
                            </li>-->
                    <li>
                        <a class="nav-link-jra-top" href="$baseUrl/aboutDocumentation.html">
                            <i18n:text key="jra.mainNav.documentation"/>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link-jra-top" href="$baseUrl/aboutResources.html">
                            <i18n:text key="jra.mainNav.resourcesUsed"/>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li class="dropdown">
                        <a class="nav-link-jra-top dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="">Kontakt<span class="caret"/>
                        </a>
                        <ul class="dropdown-menu navbar-jra bg-jra">
                    <li>
                        <a class="nav-link-jra-top" href="$baseUrl/impressum.html"><i18n:text key="jra.impressum"/></a>
                    </li>
                    <li>
                        <a class="nav-link-jra-top" href="$baseUrl/privacyPolicy.html"><i18n:text key="jra.mainNav.privacyPolicy"/></a>
                    </li>
                            <li>
                                <a class="nav-link-jra-top disabled" href="">Haftungsausschluss</a> <!-\- disclaimer.html -\->
                            </li>
                        </ul>
                    </li>-->
        </ul>
        <!--<li>
                        <a class="nav-link-jra-top" href="search.html"><i18n:text key="jra.search"/></a>
                    </li>-->
    </div>
    <!--<ul class="nav navbar-nav">
        <div data-template="app:langSwitch"/>
    </ul>-->
    <!--<form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
        <!-\-                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">start</button>-\->
    </form>-->
</nav>